<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transition: transform 0.8s ease-in-out, box-shadow 0.9s ease-in-out;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    transition: color 0.2s;
}

form {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    padding: 5px;
}

input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    background-color: #333;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s; 
}

input[type="password"]:focus,
input[type="submit"]:focus {
    background-color: #444;
}

input[type="submit"] {
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

    </style>
</head>
<body>
    
    <div class="container">
    <h2>Change Password</h2>
    <form action="/changepassword_submit" method="post">
        <tr>
            <td>New Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <br>
        <tr>
            <td>Confirm New Password</td>
            <td><input type="password" name="cpassword"></td>
        </tr>
        <br>
        <tr>
            <td><input type="submit" name="Update Password"></td>
        </tr>
    </form>
</div>
</body>
</html>
